#ZeroKaanta {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	gap: 20px;

	.clickSpace:hover {
		color: black;
		background-color: white;
	}

	#reset-everything-button {
		position: fixed;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}

	#go-to-move {
		position: fixed;
		bottom: 80px;
		background-color: black;
		padding: 10px;
		border-radius: 20px;

		display: flex;

		justify-content: start;
		align-items: center;

		width: 100vw;
		button {
			width: 40px;
		}
	}
}
