#ZeroKaanta {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	gap: 20px;

	.clickSpace:hover {
		color: black;
		background-color: white;
	}

	#reset-everything-button {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
	}
}
