* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	p {
		font-size: x-large;
	}
}

button {
	padding: 10px;
	font-size: larger;
	background-color: white;
	border-radius: 20px;
	cursor: pointer;
	border: solid black;
}
button:hover {
	background-color: black;
	color: white;
	border-color: white;
}
